In [132]:
import os
import pandas as pd
import us
from census import Census
import numpy as np

In [133]:
#Selected HA census variables
df_variables= pd.read_csv(r'C:\Work_GovEx\COVID-19\New Data\census data download\Variable list.csv',encoding= 'unicode_escape')
df_variables.columns = ['var_name', 'source_variable', 'description']
#convert the table to a dictionary and create the full download list
variables = df_variables.set_index('var_name').to_dict()
#variables.keys()
rev_fields = {i[1]:i[0] for i in variables['source_variable'].items()}
varlist = list(rev_fields.keys())
#varlist

In [134]:
ckey='e6abf23c528414abb0777c756b8df69a8f5b0481'
c = Census(ckey, year=2018)
Race_Eth_data = pd.DataFrame(c.acs5.state_county(varlist,Census.ALL,Census.ALL))
Race_Eth_data.head(2)
Race_Eth_data.rename(columns={'state':'state_fips', 'county':'county_fips'}, inplace=True)

In [135]:
Race_Eth_data['FIPS']=Race_Eth_data['state_fips']+Race_Eth_data['county_fips']
Race_Eth_data['FIPS']=Race_Eth_data['FIPS'].apply(str).str.pad(width=5, side='left', fillchar='0')
Race_Eth_data.head(2)

,NAME,B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B03003_001E,B03003_002E,B03003_003E,state_fips,county_fips,FIPS
0,"Washington County, Mississippi",47086.0,12097.0,33982.0,56.0,282.0,0.0,391.0,278.0,47086.0,46357.0,729.0,28,151,28151
1,"Perry County, Mississippi",12028.0,9475.0,2368.0,0.0,17.0,0.0,16.0,152.0,12028.0,11847.0,181.0,28,111,28111

In [136]:
Race_Eth_data.rename(columns={'B02001_001E':'racePop_total', 'B02001_002E':'White alone', 'B02001_003E':'Black or African American alone', 
                              'B02001_004E':'American Indian and Alaska Native alone','B02001_005E':'Asian alone', 'B02001_006E':'Native Hawaiian and Other Pacific Islander alone', 
                              'B02001_007E':'Some other race alone', 'B02001_008E':'Two or more races','B03003_001E':'His_total','B03003_002E':'Not Hispanic or Latino origin', 'B03003_003E':'Hispanic or Latino Origin',},inplace=True)

In [137]:
Race_Eth_data=Race_Eth_data[['NAME', 'racePop_total', 'White alone',
       'Black or African American alone',
       'American Indian and Alaska Native alone', 'Asian alone',
       'Native Hawaiian and Other Pacific Islander alone',
       'Some other race alone', 'Two or more races',
       'Not Hispanic or Latino origin', 'Hispanic or Latino Origin','FIPS']]

In [138]:
Race_Eth_data.head(2)

,NAME,racePop_total,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races,Not Hispanic or Latino origin,Hispanic or Latino Origin,FIPS
0,"Washington County, Mississippi",47086.0,12097.0,33982.0,56.0,282.0,0.0,391.0,278.0,47086.0,46357.0,28151
1,"Perry County, Mississippi",12028.0,9475.0,2368.0,0.0,17.0,0.0,16.0,152.0,12028.0,11847.0,28111

In [139]:
Age_data=pd.read_csv(r'C:\Work_GovEx\COVID-19\New Data\ACSST5Y2018.S0101_data_with_overlays_2020-05-07T004200.csv',low_memory=False)
Age_data1=Age_data[['GEO_ID', 'NAME','S0101_C01_002E','S0101_C01_020E', 'S0101_C01_005E','S0101_C01_006E',
                    'S0101_C01_007E','S0101_C01_008E','S0101_C01_009E','S0101_C01_010E','S0101_C01_011E', 
                     'S0101_C01_012E','S0101_C01_013E','S0101_C01_014E','S0101_C01_015E','S0101_C01_016E',
                    'S0101_C01_031E','S0101_C01_001E']]
Age_data1=Age_data1.iloc[1:]
Age_data1['FIPS']=Age_data1['GEO_ID'].str[-5:]

In [140]:
Age_data1['Age_under15']=Age_data1['S0101_C01_002E'].astype(str).astype(int)+Age_data1['S0101_C01_020E'].astype(str).astype(int)
Age_data1['Age_15_24']=Age_data1['S0101_C01_005E'].astype(str).astype(int)+Age_data1['S0101_C01_006E'].astype(str).astype(int)
Age_data1['Age_25_34']=Age_data1['S0101_C01_007E'].astype(str).astype(int)+Age_data1['S0101_C01_008E'].astype(str).astype(int)
Age_data1['Age_35_64']=Age_data1['S0101_C01_009E'].astype(str).astype(int)+Age_data1['S0101_C01_010E'].astype(str).astype(int)+Age_data1['S0101_C01_011E'].astype(str).astype(int)+Age_data1['S0101_C01_012E'].astype(str).astype(int)+Age_data1['S0101_C01_013E'].astype(str).astype(int)+Age_data1['S0101_C01_014E'].astype(str).astype(int)
Age_data1['Age_65_74']=Age_data1['S0101_C01_015E'].astype(str).astype(int)+Age_data1['S0101_C01_016E'].astype(str).astype(int)
Age_data1['Age_over75']=Age_data1['S0101_C01_031E'].astype(str).astype(int)
Age_data1['Agetotal']=Age_data1['S0101_C01_001E'].astype(str).astype(int)

In [141]:
Age_data1=Age_data1[[ 'FIPS', 'Age_under15', 'Age_15_24', 'Age_25_34',
       'Age_35_64', 'Age_65_74', 'Age_over75','Agetotal']]

In [142]:
Age_data1.head()

,FIPS,Age_under15,Age_15_24,Age_25_34,Age_35_64,Age_65_74,Age_over75,Agetotal
1,01001,10842,7192,7064,22052,4711,3339,55200
2,01003,37621,23497,23326,82998,24551,16114,208107
3,01005,4517,3092,3675,9864,2820,1814,25782
4,01007,3742,3005,3075,9044,2122,1539,22527
5,01009,11112,6906,6786,22608,6132,4101,57645

In [143]:
Race_Age_data=pd.merge(Race_Eth_data,Age_data1,how='left',on='FIPS')

In [144]:
Race_Age_data.shape

(3220, 19)

In [145]:
Race_Age_data.head()

,NAME,racePop_total,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races,Not Hispanic or Latino origin,Hispanic or Latino Origin,FIPS,Age_under15,Age_15_24,Age_25_34,Age_35_64,Age_65_74,Age_over75,Agetotal
0,"Washington County, Mississippi",47086.0,12097.0,33982.0,56.0,282.0,0.0,391.0,278.0,47086.0,46357.0,28151,10275,6503,5844,17511,4282,2671,47086
1,"Perry County, Mississippi",12028.0,9475.0,2368.0,0.0,17.0,0.0,16.0,152.0,12028.0,11847.0,28111,2310,1520,1279,4847,1247,825,12028
2,"Choctaw County, Mississippi",8321.0,5631.0,2596.0,23.0,15.0,8.0,13.0,35.0,8321.0,8288.0,28019,1508,1014,866,3193,979,761,8321
3,"Itawamba County, Mississippi",23480.0,21346.0,1681.0,75.0,57.0,7.0,170.0,144.0,23480.0,23120.0,28057,4207,3589,2753,8926,2250,1755,23480
4,"Carroll County, Mississippi",10129.0,6523.0,3503.0,6.0,0.0,0.0,0.0,97.0,10129.0,10100.0,28015,1662,1219,812,4187,1353,896,10129

In [146]:
Race_Age_data.to_csv(r'C:\Work_GovEx\COVID-19\New Data\Race_Age.csv')